<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66526731883-m9dn04r57amjg6rksuorpt7stohd8nep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66526731883-m9dn04r57amjg6rksuorpt7stohd8nep</string>
	<key>API_KEY</key>
	<string>AIzaSyAghNDtUnnYZLiJHiMz95M6z3cdjUm_W7k</string>
	<key>GCM_SENDER_ID</key>
	<string>66526731883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-f3ccc</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-f3ccc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66526731883:ios:11f2d215bead9b1fd81b2e</string>
</dict>
</plist>